<?xml version="1.0"?>
<ruleset>
   <file>.</file>
    <exclude-pattern>./build/</exclude-pattern>
    <exclude-pattern>./vendor/</exclude-pattern>

    <rule ref="CodeStyle">
        <!-- GENERAL -->
        <exclude name="Generic.Files.LineLength.MaxExceeded"/>
    </rule>
    <arg value="p"/>
    <rule ref="PSR2" />
</ruleset>
