<phpunit
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="./vendor/autoload.php"
        colors="true"
        processIsolation="false"
        verbose="false">

    <testsuites>
        <testsuite name="BBC\BrandingClient Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="date.timezone" value="Europe/London"/>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
</phpunit>
